*.o
*.obj
*.a
*.lib
*.exe
*~
/src/version-auto.c

/xcode/*.xcodeproj/*.mode1v3
/xcode/*.xcodeproj/*.pbxuser
/xcode/*.xcodeproj/project.xcworkspace
/xcode/*.xcodeproj/xcuserdata
/xcode/build
/Makefile.user
/console.txt
/kenbuild-data/*

/game
/build
/kextract
/kgroup
/transpal
/arttool
/wad2art
/wad2map
/generatesdlappicon
/bin2c
