*.o
*.obj
*.a
*.lib
*.exe
*.res
*.map
*~
*.pdb
/.vs
/src/version-auto.c
/src/*_[fv]s.c

/xcode/*.xcodeproj/*.mode1v3
/xcode/*.xcodeproj/*.pbxuser
/xcode/*.xcodeproj/project.xcworkspace
/xcode/*.xcodeproj/xcuserdata
/xcode/Signing.xcconfig
/xcode/build

/Makefile.*user
/kenbuild/data/*

/game
/build
/kextract
/kgroup
/klist
/transpal
/arttool
/wad2art
/wad2map
/generatesdlappicon
/bin2c
