*.o
*.obj
*.a
*.lib
*.exe
*.res
*.map
*~
*.pdb
/src/version-auto.c
/src/*_[fv]s.c

/xcode/*.xcodeproj/*.mode1v3
/xcode/*.xcodeproj/*.pbxuser
/xcode/*.xcodeproj/project.xcworkspace
/xcode/*.xcodeproj/xcuserdata
/xcode/Signing.xcconfig

/xcode/build
/.vs
/Makefile.*user
/console.txt
/kenbuild-data/*

/game
/build
/kextract
/kgroup
/transpal
/arttool
/wad2art
/wad2map
/generatesdlappicon
/bin2c
